@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  width: 100%;
  height: 100%;
  font-family: 'Itim', cursive;
}

div {
  margin: 20px;
  padding: 0 20px;
}

label {
  border: 4px solid black;
}

label:hover {
  border: 4px solid black;
  color: orange;
  background-color: dimgray;
}
